
<mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput [(ngModel)]="filtro" (keyup)="aplicarFiltro($event)" placeholder="Ex. ium" #input>
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="agregarRol()">Agregar Rol</button>

<mat-table [dataSource]="datos" matSort>

    <!-- Agregar las columnas de la tabla -->
    <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="nombre">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.nombre}}</mat-cell>
    </ng-container>


    <ng-container matColumnDef="descripcion">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Descripcion</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.descripcion}}</mat-cell>
    </ng-container>


    
    <ng-container matColumnDef="acciones">
        <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
        <mat-cell *matCellDef="let row">
            
            <button mat-icon-button color="primary" (click)="editarRol(row)">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="eliminarRol(row)">
                <mat-icon>delete</mat-icon>
            </button>
        </mat-cell>
    </ng-container>

    
    <mat-header-row *matHeaderRowDef="columnas"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnas;"></mat-row>

</mat-table>
