
<mat-toolbar color="primary" *ngIf="authService.logueado">
    <span>Menu</span>
    <span class="spacer"></span>
    <button mat-button routerLink="/roles">Admin. Roles</button>
    <button mat-button routerLink="/usuarios">Admin. Usuarios</button>
    <button mat-button (click)="salirSesion()">Salir sesión</button>
</mat-toolbar>
