<!-- FILEPATH: /c:/Users/ivan/Desktop/ivan-rendon/PRUEBA_PRACTICA/FRONTEND/app-front-prueba-ivan-rendon/src/app/login/login.component.html -->

<form [formGroup]="loginForm" (ngSubmit)="login()">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" formControlName="usuario">
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" formControlName="password">
    </div>
    <button type="submit" [disabled]="!loginForm.valid">Login</button>
</form>
