
<div>
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre"  [(ngModel)]="nombreRol"><br><br>
    <label for="descripcion">Descripción:</label>
    <input type="text" id="descripcion" name="descripcion" [(ngModel)]="descripcionRol"><br><br>
    <button type="button" (click)="guardar()">Guardar</button>
</div>
